.App {
  text-align: center;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

@media screen {
  .printElement1 {
    visibility: hidden;
  }
}

/* fonts */
@font-face {
  font-family: "AirbnbCerealBlack";
  src: url(./assets/fonts/AirbnbCerealBlack.ttf);
}
@font-face {
  font-family: "AirbnbCerealBold";
  src: url(./assets/fonts/AirbnbCerealBold.ttf);
}

@font-face {
  font-family: "AirbnbCerealBook";
  src: url(./assets/fonts/AirbnbCerealBook.ttf);
}

@font-face {
  font-family: "AirbnbCerealExtraBold";
  src: url(./assets/fonts/AirbnbCerealExtraBold.ttf);
}

@font-face {
  font-family: "AirbnbCerealLight";
  src: url(./assets/fonts/AirbnbCerealLight.ttf);
}

@font-face {
  font-family: "AirbnbCerealMedium";
  src: url(./assets/fonts/AirbnbCerealMedium.ttf);
}

.MuiChip-label {
  font-family: "AirbnbCerealLight";
}
